#define IDM_FILE 10001
#define IDM_OPTIONS 10002
#define IDM_PLAYER_OPTIONS 10012
#define IDM_GAME_OPTIONS 10022
#define IDM_LOAD 10021
#define IDR_MENU_BAR 10000
#define IDM_NEW_GAME 10011
#define IDM_LOAD_PLAYERS 10121
#define IDM_LOAD_GAME 10221
#define IDM_SAVE_AS 10031
#define IDM_SAVE_PLAYERS 10131
#define IDM_SAVE_GAME 10231
#define IDM_EXIT 10041
#define IDM_ADD_PLAYER 10112
#define IDM_CHANGE_SIZE 10122
#define IDM_TIME_LIMIT 10222
#define IDI_DOTS_ICON 1101
#define IDD_ADD_PLAYER 1000
#define IDC_STC_NAME 1001
#define IDC_EDT_NAME 1002
#define IDC_EDT_COLOUR_RED 1005
#define IDC_EDT_COLOUR_GREEN 1007
#define IDC_EDT_COLOUR_BLUE 1009
#define IDC_BTN_ADD_PLAYER 1010
#define IDC_STC_COLOUR 1003
#define IDC_STC_RED 1004
#define IDC_STC_GREEN 1006
#define IDC_STC_BLUE 1008
#define IDD_CHANGE_SIZE 2000
#define IDC_STC_WIDTH 2001
#define IDC_EDT_WIDTH 2002
#define IDC_STC_HEIGHT 2003
#define IDC_EDT_HEIGHT 2004
#define IDC_BTN_CHANGE_DIMENSIONS 2005
#define IDC_STC_SIZE_DESCRIPTION 2006
#define IDD_TIME_LIMIT 3000
#define IDC_STC_TIME_DESCRIPTION 3001
#define IDC_EDT_TIME_LIMIT 3002
#define IDC_STC_TIME_TEXT 3003
#define IDC_BTN_SET_LIMIT 3004
IDR_MENU_BAR MENU
BEGIN
  POPUP "File"
  BEGIN
    MENUITEM "New Game",IDM_NEW_GAME
    POPUP "Load..."
    BEGIN
      MENUITEM "Players",IDM_LOAD_PLAYERS
      MENUITEM "Game",IDM_LOAD_GAME
    END
    POPUP "Save..."
    BEGIN
      MENUITEM "Players",IDM_SAVE_PLAYERS
      MENUITEM "Game",IDM_SAVE_GAME
    END
    MENUITEM "Exit",IDM_EXIT
  END
  POPUP "Options"
  BEGIN
    POPUP "Player Options"
    BEGIN
      MENUITEM "Add Player",IDM_ADD_PLAYER
    END
    POPUP "Game Options"
    BEGIN
      MENUITEM "Change Size",IDM_CHANGE_SIZE
      MENUITEM "Change Time Limit",IDM_TIME_LIMIT
    END
  END
END
IDI_DOTS_ICON ICON DISCARDABLE "dotsandboxes.ico"
IDD_ADD_PLAYER DIALOGEX 6,6,96,70
CAPTION "Add Player"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C80000
BEGIN
  CONTROL "Name:",IDC_STC_NAME,"Static",0x50000000,4,3,23,9
  CONTROL "",IDC_EDT_NAME,"Edit",0x50010000,30,3,63,12,0x00000200
  CONTROL "",IDC_EDT_COLOUR_RED,"Edit",0x50012000,66,18,26,9,0x00000200
  CONTROL "",IDC_EDT_COLOUR_GREEN,"Edit",0x50012000,66,30,26,9,0x00000200
  CONTROL "",IDC_EDT_COLOUR_BLUE,"Edit",0x50012000,66,43,26,9,0x00000200
  CONTROL "Add Player",IDC_BTN_ADD_PLAYER,"Button",0x50010000,16,55,60,12
  CONTROL "Colour:",IDC_STC_COLOUR,"Static",0x50000000,3,18,33,9
  CONTROL "Red",IDC_STC_RED,"Static",0x50000202,40,18,23,9
  CONTROL "Green:",IDC_STC_GREEN,"Static",0x50000202,40,30,23,9
  CONTROL "Blue:",IDC_STC_BLUE,"Static",0x50000202,40,43,23,9
END
IDD_CHANGE_SIZE DIALOGEX 6,5,89,70
CAPTION "Grid Size"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C80000
BEGIN
  CONTROL "Width:",IDC_STC_WIDTH,"Static",0x50000202,16,24,26,9
  CONTROL "",IDC_EDT_WIDTH,"Edit",0x50012000,50,24,20,9,0x00000200
  CONTROL "Height:",IDC_STC_HEIGHT,"Static",0x50000202,16,36,26,9
  CONTROL "",IDC_EDT_HEIGHT,"Edit",0x50012000,50,36,20,9,0x00000200
  CONTROL "Change Size",IDC_BTN_CHANGE_DIMENSIONS,"Button",0x50010000,16,49,53,12
  CONTROL "Units are dots, minimum of 2 x 2",IDC_STC_SIZE_DESCRIPTION,"Static",0x50000001,10,3,70,18
END
IDD_TIME_LIMIT DIALOGEX 6,6,99,70
CAPTION "Time Limit"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C80000
BEGIN
  CONTROL "Enter a time limit in seconds or 0 for no limit",IDC_STC_TIME_DESCRIPTION,"Static",0x50000001,10,5,80,18
  CONTROL "",IDC_EDT_TIME_LIMIT,"Edit",0x50012000,60,30,26,9,0x00000200
  CONTROL "Time per move:",IDC_STC_TIME_TEXT,"Static",0x50000000,10,30,50,9
  CONTROL "Set Limit",IDC_BTN_SET_LIMIT,"Button",0x50010000,10,49,80,12
END
